//- menu list
mixin menu_item(item, id)
	li
		a(href="##{id}")= item
		
//- social media icon list
mixin social_item(url)
	li
		a(href="#")
			img(src="#{url}")
		
//- quotes block
mixin quote(theme, text, author)
	.quote
		h3.theme= theme
		p.text= text
		if author == ""
			p.author Anonymous
		else
			p.author= author
		
//- posters
mixin poster(url, text, main)
	.poster(style='background-image: linear-gradient(rgba(234, 226, 209, 0.2), rgba(234, 226, 209, 0.2)), url("#{url}")')
		.quote
			p.quote-text!= text
		if main == "true"
			.action
				a(href="#") Buy Now
				a(href="#") Share
